/*
use # to specify an id
use . to specify a class
*/

/*
Definitions:

margin: the space around an element, outside of its borders
padding: the space in an element between its borders and its content
measurement units (px, %, auto):
*/

body{
    background-color: rgb(37, 36, 34);
    margin: 0px;
}

div{
    background-color: rgb(37, 36, 34);
    margin: auto;
    width: 50%;
}

#calc_div{
    height: 300px;
    border-radius: 10px;
    background-color: rgb(64, 61, 57);
}

#input_boxes{
    height: 50%;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgb(64, 61, 57);
    display: grid;
    grid-template-columns: 37% 37%;
    justify-items: left;
    /*top bottom, right left*/
    /*padding adds space between the content and the border, 
      which increases the dimensions of the div instead of shrinking the content*/
    /*padding: 10px;*/
}

#buttons{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    justify-items: center;
    height: 50%;
    width: 100%;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(64, 61, 57);
}

input{
    background-color: rgb(204, 197, 185);
    width: 120px;
    height: 25px;
    margin-top: 10px;
}

label{
    font-family: arial, sans-serif;
    color: rgb(235, 94, 40);
    font-size: 25px;
    margin: 10px;
}

h1{
    text-align: center;
    /*sans-serif is a fall back family of fonts to choose from if the specific font of arial isnt available*/
    font-family: arial, sans-serif;
    font-size: 100px;
    color: rgb(235, 94, 40);

}

p{
    text-align: center;
    font-family: arial, sans-serif;
    color: rgb(235, 94, 40);
    font-size: 50px;
}

button{
    height: 100px;
    width: 100px;
    background-color: rgb(204, 197, 185);
}

#answer_div{
    width: 75%;
}
